NODE_ENV="development" #production development
APP_NAME="baudagna"
AFIP_TEST="true" # "true" or "false"

#super admin
#des
#
EMAIL_SUPER_ADMIN="mathias.b@live.com.ar" #requiere que se registre como usuario en el sistema

SESSION_SECRET="botella de tamarindo"
SESSION_MAXAGE=432000000 # 5 días => (1000 * 60 * 60 * 24 * 5)

CRYPTO_ALGORITHM="aes-256-cbc"
CRYPTO_ENC_KEY="fz3c199c2470cc57zp907b1e0917c17b"
CRYPTO_IV="5183666c88eec9e4"

MONGO_URI="mongodb://127.0.0.1/baudagna"
CORS="true" # "true" or "false"

PORT=3000

ENCRYPT_FILE_PASSWORD="asd123"

ONLY_COMMON_EMAIL_DOMAINS="false" # yahoo, gmail, hotmail, aol, outlook, live

MAILERSEND_API_TOKEN="asd-123"

#para verificar estado del servidor
CONTROL_ACCESS_KEY="-frase random aqui-"

#asigno una variable para maximo tamaño de subida de archivos con multer
#1mb = 1 * 1024 * 1024 = 1048576
#2mb = 2097152
#5mb = 5242880
#10mb = 10485760
MULTER_UPLOAD_SIZE_LIMIT=2097152

R2_ACCOUNT_ID="your_account_id"
R2_ACCESS_KEY_ID="your_access_key_id"
R2_SECRET_ACCESS_KEY="your_secret_access_key"
R2_BACKUP_BUCKET="bucket_name"
R2_PUBLIC_BUCKET="public_bucket_name"

REDIS_URI="redis://192.168.0.100:6379"