<div id="dashboard-configuracion">
    <article class="card card-primary card-outline" datos="general">
        <div class="card-header">
            <h3 class="card-title">
                General
            </h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="">Punitorios</label>
                <input type="text" class="form-control" autocomplete="off" name="punitorios">
            </div>
            <button class="btn btn-primary btn-flat" name="guardar">Guardar</button>
        </div>
    </article>
</div>

<!--MODALES-->
<div class="d-none">
</div>

<script src="/js/dashboard-configuracion.js"></script>
<script>
    var dashboardConfiguracion;
    window.onload = () => {
        dashboardConfiguracion = new DashboardConfiguracion(true);
    }
</script>