<div id="dashboard-inicio" class="row">
    <div class="col-12">
        <div class="callout callout-success  text-center">
            Bienvenido
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-right">Estado</th>
                            <th>Tarea</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Cobrar cuota</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Corregir punitorio</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Mostrar cobrado/faltante</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Mensaje 1 de whatsapp</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Mensaje 2 de whatsapp</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Ordenar creditos (alfabetico, proximos a vencerse (o vencidos), mas reciente creados)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Filtro creditos (ultimos, activos)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Agregar fecha de compra del vehiculo</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Agregar observaciones y resaltar en tabla</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>En resumen: capital total prestado (activo)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>En resumen: capital total prestado (total)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Monto total de capital a recibir en el mes</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Monto de interes a recibir en el mes</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Monto de cuotas totales a recibir en el mes</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Mostrar desplegable con informacion clave en el credito (la info q se muestra en el excel)</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-success"></i></td>
                            <td>Listar cobros de una cuota</td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td>Migrar datos</td>
                        </tr>
                       <!--  <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right"><i class="fas fa-circle-check text-secondary"></i></td>
                            <td></td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modales" class="d-none">
    <div id="modal_abonar">
        <div class="form-group">
            <label for="">Plan</label>
            <div class="input-group">
                <input type="text" readonly class="form-control" name="plan">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-flat" name="cambiar-plan">Cambiar plan</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Meses a contratar</label>
            <select name="meses" class="form-control">
                <option value="1">1 mes</option>
                <option value="3">3 meses</option>
                <option value="6">6 meses</option>
                <option value="12">12 meses (pagas 11)</option>
            </select>
            <small class="text-muted">*Contratá 12 meses y pagá por 11</small>
        </div>
        <div class="form-group">
            <label for="">Total</label>
            <input type="text" class="form-control" name="total" readonly>
        </div>
        <button class="btn btn-flat btn-success btn-block" name="abonar">
            Abonar con Mercado Pago
        </button>
    </div>
</div>

<script src="/js/dashboard-inicio.js"></script>
<script>
    var dashboardInicio;
    window.onload = () => {
        dashboardInicio = new DashboardInicio(true);
    }
</script>