<div id="creditos-personales" class="row">
    <div class="col-6">
        <article class="card card-primary card-outline">
            <div class="card-header">
                <h5 class="m-0">Listado</h5>
            </div>
            <div class="card-body">
    
                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-light btn-flat btn-sm btn-block" id="btnNuevoCredito">Nuevo</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-light btn-flat btn-sm btn-block" id="btnModificarCredito">Modificar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-light btn-flat btn-sm btn-block" id="btnEliminarCredito">Eliminar</button>
                    </div>
                    <div class="col">
                        <div class="dropdown" name="acciones">
                            <a class="btn btn-info btn-sm dropdown-toggle btn-block btn-flat" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Acciones
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" id="btnCobrar" href="#">Cobrar</a>
                                <a class="dropdown-item" id="btnWhatsappCuotaPendiente" href="#">WhatsApp (cuota pendiente)</a>
                                <a class="dropdown-item" id="btnWhatsappProximoVencimiento" href="#">WhatsApp (próximo vencimiento)</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="btnResumenGeneral" href="#">Resumen general</a>
                                <a class="dropdown-item" id="btnResumenCaja" href="#">Resumen caja</a>
                                <a class="dropdown-item" id="btnExportarExcel" href="#">Exportar Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group  mb-3">
                    <div class="input-group input-group-sm">
                        <input type="search" autocomplete="off" class="form-control form-control-sm" id="txtBuscarCredito" placeholder="Buscar...">                       
                    </div>
                    <badge class="badge badge-light cp" id="btnFiltrarListado">Mostrar: Todos</badge>
                    <badge class="badge badge-light cp" id="btnOrdenarListado">Orden: Mas recientes</badge>
                </div>
    
                <div class="border"  style="height: 65vh; overflow-y: scroll;">
                    <table class="table table-sm mb-0" id="tabla-creditos">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Cliente</th>
                                <th>Localidad</th>
                                <th>Detalle</th>
                                <th>Próx. Venc.</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
    <div class="col-6">
        <article class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-datos-generales" data-toggle="pill" href="#datos-generales" role="tab" aria-controls="datos-generales" aria-selected="true">Datos generales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-finalidad" data-toggle="pill" href="#finalidad" role="tab" aria-controls="finalidad" aria-selected="false">Finalidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-cuotas" data-toggle="pill" href="#cuotas" role="tab" aria-controls="cuotas" aria-selected="false">Cuotas</a>
                    </li>
                    <li class="nav-item d-none">
                        <a class="nav-link" id="tab-documentos" data-toggle="pill" href="#documentos" role="tab" aria-controls="documentos" aria-selected="false">Documentos</a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a class="nav-link">
                            <span class="badge badge-info" id="lblAccion">...</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <!--NOTA: LOS CAMPOS SON TIPO SEARCH PARA QUE GOOGLE NO INTENTE GUARDARLOS COMO PERSONALES-->
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="datos-generales" role="tabpanel" aria-labelledby="tab-datos-generales">
                        <div class="title mt-0">Observaciones</div>
                        <div class="form-group">
                            <textarea name="observaciones" class="form-control form-control-sm" rows="3"></textarea>
                        </div>
                        <div class="title mt-0">Datos personales</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Apellidos</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="datos-personales-apellidos">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Nombres</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="datos-personales-nombres">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Estado civil</label>
                                    <select name="datos-personales-estado-civil" id="" class="form-control form-control-sm">
                                        <option value="" selected>Sin especificar</option>
                                        <option value="soltero">Soltero/a</option>
                                        <option value="casado">Casado/a</option>
                                        <option value="divorciado">Divorciado/a</option>
                                        <option value="viudo">Viudo/a</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Apellido y nombre del conyuge</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="datos-personales-conyuge">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Tipo de documento</label>
                                    <select name="datos-personales-tipo-documento" id="" class="form-control form-control-sm">
                                        <option value="" selected>Sin especificar</option>
                                        <option value="dni">DNI</option>
                                        <option value="pasaporte">Pasaporte</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Número de documento</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="datos-personales-numero-documento">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Cond. IVA</label>
                                    <select class="form-control form-control-sm" name="datos-personales-condicion-iva">
                                        <option value="" selected>Sin especificar</option>
                                        <option value="1">(A) IVA responsable inscripto</option>
                                        <option value="4">(B) IVA sujeto exento</option>
                                        <option value="5">(B) Consumidor final</option>
                                        <option value="6">(A) Responsable monotributo</option>
                                        <option value="7">(B) Sujeto no categorizado</option>
                                        <option value="13">(A) Monotributo social</option>
                                        <option value="15">(B) IVA no alcanzado</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="title mt-0">Dirección</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Calle y núm</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="direccion-calle">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Localidad</label>
                                    <select autocomplete="off" class="form-control form-control-sm" name="direccion-localidad">
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Provincia</label>
                                    <select autocomplete="off" class="form-control form-control-sm" name="direccion-provincia">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="title mt-0">Datos de contacto</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Teléfono</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="contacto-telefono">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Correo electrónico</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="contacto-email">
                                </div>
                            </div>
                        </div>

                        <div class="title mt-0">Garante</div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Apellido y nombre</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="garante-nombre">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Dirección completa</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="garante-direccion">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Teléfono</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="garante-telefono">
                                </div>
                            </div>
                            <div class="col-12"></div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Tipo de documento</label>
                                    <select name="garante-tipo-documento" id="" class="form-control form-control-sm">
                                        <option value="" selected>Sin especificar</option>
                                        <option value="dni">DNI</option>
                                        <option value="pasaporte">Pasaporte</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Número de documento</label>
                                    <input type="search" autocomplete="off" class="form-control form-control-sm" name="garante-numero-documento">
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-flat btn-primary" id="btnGuardarCredito">Guardar</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="finalidad" role="tabpanel" aria-labelledby="tab-finalidad">
                        <div class="form-group">
                            <label for="">Tipo</label>
                            <select name="finalidad-tipo" class="form-control form-control-sm">
                                <option value="general" selected>Prestamo general</option>
                                <option value="vehiculo">Véhiculo</option>
                                <option value="vivienda">Vivienda</option>
                            </select>
                        </div>
                        <div finalidad-tipo="vehiculo" class="d-none">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="">Tipo de vehículo</label>
                                    <select name="finalidad-vehiculo-tipo" class="form-control form-control-sm" autocomplete="off">
                                        <option value="Auto">Auto</option>
                                        <option value="Camioneta">Camioneta</option>
                                        <option value="Moto">Moto</option>
                                        <option value="Cuatriciclo">Cuatriciclo</option>
                                        <option value="Moto de agua">Moto de agua</option>
                                    </select>   
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Marca</label>
                                    <input type="text" name="finalidad-vehiculo-marca" class="form-control form-control-sm" autocomplete="off">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Modelo</label>
                                    <input type="text" name="finalidad-vehiculo-modelo" class="form-control form-control-sm" autocomplete="off">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Año</label>
                                    <input type="text" name="finalidad-vehiculo-anio" class="form-control form-control-sm" autocomplete="off">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Dominio</label>
                                    <input type="text" name="finalidad-vehiculo-dominio" class="form-control form-control-sm" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div finalidad-tipo="vivienda" class="d-none">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="">Acción</label>
                                    <select name="finalidad-vivienda-accion" class="form-control form-control-sm" autocomplete="off">
                                        <option value="" selected>Sin asignar</option>
                                        <option value="refaccion">Refacción</option>
                                        <option value="compra">Compra</option>
                                        <option value="alquiler">Alquiler</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Provincia</label>
                                    <input type="text" name="finalidad-vivienda-provincia" class="form-control form-control-sm" autocomplete="off">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Localidad</label>
                                    <input type="text" name="finalidad-vivienda-localidad" class="form-control form-control-sm" autocomplete="off">
                                </div>
                                <div class="form-group col-6">
                                    <label for="">Ubicación</label>
                                    <input type="text" name="finalidad-vivienda-ubicacion" class="form-control form-control-sm" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div finalidad-tipo="general">
                            <div class="form-group">
                                <label for="">Fecha de compra</label>
                                <input type="date" name="finalidad-fecha-compra" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="">Detalle general</label>
                                <textarea name="finalidad-detalle-general" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-flat btn-primary" id="btnGuardarFinalidad">Guardar</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="cuotas" role="tabpanel" aria-labelledby="tab-cuotas">
                        <div class="row  mb-2">
                            <div class="col">
                                <button class="btn btn-flat btn-primary btn-sm" id="btnGenerarCuotas">Generar cuotas</button>
                                <button class="btn btn-flat btn-primary btn-sm d-none" id="btnAgregarCuota"><i class="fas fa-plus"></i> Agregar cuota</button>
                            </div>
                            <div class="col-auto text-right">
                                <span class="badge badge-light" id="btnOrdenCuotas">Orden: Número</span>
                                <!-- <button class="btn btn-flat btn-primary btn-sm mb-2" name="listar-cobros">Listar cobros</button> -->
                            </div>
                        </div>
                        <div class="border">
                            <table id="tabla-cuotas" class="table table-sm mb-0">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>N°</th>
                                        <th>Vencimiento</th>
                                        <th class="text-right">Monto</th>
                                        <th class="text-right">Cobrado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot class="table-info"></tfoot>
                            </table>
                        </div>
                    </div>                   
                    <div class="tab-pane fade" id="documentos" role="tabpanel" aria-labelledby="tab-documentos">
                        <div class="form-group">
                            <label for="">Documentos adjuntos</label>
                            <div class="border p-2" style="height: 30vh; overflow-y: scroll;">
                                <table class="table table-sm mb-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Tamaño</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="text-right mt-3">
                                <button class="btn btn-flat btn-primary">Subir documento</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>

<div id="modales" class="d-none">
    <div id="modal-generar-cuotas">
        <div class="row">
            <div class="col form-group">
                <label for="">Monto solicitado</label>
                <input type="number" autocomplete="off" class="form-control form-control-sm" name="monto-solicitado">
            </div>
            <div class="col form-group">
                <label for="">Intereses</label>
                <input type="number" autocomplete="off" class="form-control form-control-sm" name="intereses">
            </div>
            <div class="col form-group">
                <label for="">Cuotas</label>
                <input type="number" autocomplete="off" class="form-control form-control-sm" name="cantidad-cuotas">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="">Monto total</label>
                <input type="number" autocomplete="off" class="form-control form-control-sm" name="monto-total">
            </div>
            <div class="col form-group">
                <label for="">Monto cuota</label>
                <input type="number" autocomplete="off" class="form-control form-control-sm" name="monto-cuota">
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="">Fecha primer vencimiento</label>
                <input type="date" class="form-control form-control-sm" name="fecha-primer-vencimiento">
            </div>
            <div class="col form-group">
                <label for="">Fecha último vencimiento</label>
                <input type="date" class="form-control form-control-sm" name="fecha-ultimo-vencimiento" disabled="">
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-flat btn-secondary mr-2" name="ocultar">Cancelar</button>
            <button class="btn btn-flat btn-primary ml-2" name="generar">Generar cuotas</button>
        </div>
    </div>
    <div id="modal-cobrar-cuota">
        <div class="row">
            <div class="col border-right border-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Cuota</label>
                            <input type="number" class="form-control" name="monto-cuota" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Cobrado</label>
                            <input type="number" class="form-control" name="cobrado" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Restante</label>
                            <input type="number" class="form-control" name="restante" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Punitorios</label>
                            <input type="number" class="form-control" name="punitorios" autocomplete="off">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Días venc.</label>
                            <input type="number" class="form-control" name="dias-vencido" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto punit.</label>
                            <input type="number" class="form-control" name="monto-punitorios" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="alert alert-info">
                    <small>
                        *El monto a cobrar se acreditará 1ro como pago de punitorios y lo que reste como pago de cuota.
                    </small>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Fecha venc.</label>
                            <input type="date" class="form-control" name="fecha-vencimiento" readonly>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Fecha cobro</label>
                            <input type="date" class="form-control" name="fecha-cobro">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto a cobrar</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="monto">
                                <div class="input-group-prepend">
                                    <button class="btn btn-sm btn-warning" name="autocompletar"><i class="fas fa-magic"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Método/caja</label>
                            <select name="caja" class="form-control"></select>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id="modal-cuota">
        <div class="row">
            <div class="col">
                <div class="titulo">Modificar</div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Número</label>
                            <input type="number" class="form-control form-control-sm" name="numero" autocomplete="off">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Vencimiento</label>
                            <input type="date" class="form-control form-control-sm" name="vencimiento" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto total</label>
                            <input type="number" class="form-control form-control-sm" name="monto" autocomplete="off">
                            <small class="text-muted">Capital + Interés</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto capital</label>
                            <input type="text" readonly class="form-control form-control-sm" name="montoCapital" autocomplete="off">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto interés</label>
                            <input type="text" readonly class="form-control form-control-sm" name="montoInteres" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-flat btn-danger mr-2 d-none" name="eliminar">Eliminar</button>
                    <button class="btn btn-flat btn-primary ml-2" name="modificar">Modificar</button>
                </div>
            </div>
            <div class="col">
                <div class="titulo">Cobrar</div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto cuota</label>
                            <div class="input-group input-group-sm">
                                <input type="text" readonly class="form-control form-control-sm" name="montoCuota">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-primary" name="editar-monto-cuota" title="Editar importe a cobrar"><i class="fas fa-pen"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Punitorios</label>
                            <input type="number" class="form-control form-control-sm" name="punitorios" autocomplete="off">
                            <small class="text-muted" name="lbPunitorios"></small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Total</label>
                            <input type="text" readonly class="form-control form-control-sm" name="total">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Método</label>
                    <select class="form-control form-control-sm" name="metodo"></select>
                </div>
                <div class="form-group">
                    <label for="">Detalle</label>
                    <textarea class="form-control form-control-sm" name="detalle" autocomplete="off"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-sm btn-flat mx-1 btn-success" name="cobrar"><i class="fas fa-dollar-sign"></i> Cobrar</button>
                    <button class="btn btn-sm btn-flat mx-1 btn-success" name="facturar"><i class="fas fa-file-invoice"></i> Facturar</button>
                    <button class="btn btn-sm btn-flat mx-1 btn-warning" name="imp-factura"><i class="fas fa-print"></i> Imp factura</button>
                    <button class="btn btn-sm btn-flat mx-1 btn-warning" name="imp-recibo"><i class="fas fa-print"></i> Imp recibo</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-resumen"> 
        <div class="titulo">Resumen General</div>
        <div class="border" style="min-height:30vh; overflow-y:scroll">
            <table class="table table-sm mb-0" id="tabla-resumen-general">
                <thead class="thead-dark">
                    <tr>
                        <th>Detalle</th>
                        <th class="text-right">Valor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="row mt-5">
            <div class="col-9">
                <div class="titulo">Resumen Mensual</div>
            </div>
            <div class="col-3">
                <input type="month" name="mes" class="form-control form-control-sm">
            </div>
        </div>
        <div class="border" style="min-height:30vh; overflow-y:scroll">
            <table class="table table-sm mb-0" id="tabla-resumen-mensual">
                <thead class="thead-dark">
                    <tr>
                        <th>Detalle</th>
                        <th class="text-right">Valor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="modal-resumen-caja">
        <div class="row">
            <div class="col-8">
                <div class="titulo">Registros</div>
                <div class="form-group">
                    <label for="">Caja/Método</label>
                    <select class="form-control" name="caja"></select>
                </div>
                <div class="border" style="min-height:40vh; overflow-y:scroll">
                    <table class="table table-sm mb-0" id="tabla-resumen-caja">
                        <thead class="thead-dark">
                            <tr>
                                <th>Fecha</th>
                                <th>Detalle</th>
                                <th class="text-right">Monto</th>
                                <th class="text-right">Saldo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <div class="titulo">Agregar registro</div>
                <div class="form-group">
                    <label for="">Caja/Método</label>
                    <select class="form-control" name="caja"></select>
                </div>
                <div class="form-group">
                    <label>Tipo de movimiento</label>
                    <select class="form-control" name="tipo-movimiento-caja">
                        <option value="ingreso">Ingreso de dinero</option>
                        <option value="egreso">Egreso de dinero</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="">Monto</label>
                            <input type="number" min="0" step="0.01" class="form-control" name="monto-caja" autocomplete="off">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="">Nuevo saldo</label>
                            <input type="text" class="form-control" readonly name="nuevo-saldo-caja">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Detalle</label>
                    <input type="text" class="form-control" name="detalle-caja" autocomplete="off">
                </div>
                <div class="text-center">
                    <button class="btn btn-success btn-flat" name="registrar-caja">Registrar ingreso</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/creditos-personales.js"></script>
<script>
    var creditosPersonales = null;
    window.onload = () => {
        creditosPersonales = new CreditosPersonales(true);
    }
</script>
